<header>
    <div class="container">
      <a routerLink="/" class="logo">Travel Yaari</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/about">About</a>
            <a routerLink="/userlogin">Login</a>       
            <a routerLink="contactform">Contact Us</a>
          </li>     
        </ul>
      </nav>
    </div>
  </header>  
<section class="home">
    <img src="../../assets/tra.jpg">
    
    <div class="homecontent">
    <h1>Start Travelling Enjoy </h1>
    <p>to go from one place to another, as by car, train, plane, or ship; take a trip; journey to travel for pleasure. <br> to move or go from one place or point to another. to proceed or advance in any way.</p>
    <a routerLink="/registeruser" class="btn btn-lg btn-primary">Register Now</a>
    
    </div>
    </section>