<app-header></app-header>
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Foundation of Friends who are travel Fascinates</h3>
					<p>Travelling is an amazing way to learn a lot of things in life. 
                        A lot of people around the world travel every year to many places.
                         Moreover, it is important to travel to humans. Some travel to learn more while 
                         some travel to take a break from their life.</p>
                         In your Learning we are here to make the things easier and safe for you
				<!--	<div class="button">
						<a href="">Read More</a>
					</div> -->
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="../../assets/TRAVELBACK.jpg">
			</div>
		</div>
	</div>

	
</body>
