<header>
    <div class="container">
      <a routerLink="/" class="logo">Travel Yaari</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/about">About</a>
            <a routerLink="contactform">Contact Us</a>
          </li>     
        </ul>
      </nav>
    </div>
  </header>
  
<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
    <!-- <div *ngIf="isLoginError"> 
      <i >error</i>Incorrect
    </div> -->
      <form (ngSubmit)="userLogin()">
          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">UserName</label>
              <input type="text" [(ngModel)]="user.userName" class="form-control" id="UserName" name="UserName">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Password</label>
              <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary col-lg-12">Log In</button>
      </form>

  </div>
</section>