<app-header></app-header>
<app-title title="My Favourites" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="No Favourites"
  resetLinkText="Go To Homepage"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
<ul>
  <li *ngFor="let cartItem of cart.items">
    <div>
      <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
    </div>
    <div>
      <a routerLink="/food/{{cartItem.food.id}}">
        {{cartItem.food.name}}
      </a>
    </div>
    
   

    <div>
      <button class="remove-button" (click)="removeFromCart(cartItem)">
        Remove
      </button>
    </div>
  </li>
</ul>
<div class="checkout">
  <div>
    <div class="foods-count">{{cart.totalCount}}</div>
    </div>

 
