<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
      <form (ngSubmit)="userRegister()">

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
          </div>

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">UserId</label>
              <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="user.userId">
          </div>

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
          </div>

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Number</label>
              <input type="number" class="form-control" id="phoneNo" name="phoneNo" [(ngModel)]="user.phoneNo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="user.city">
        </div>

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Username</label>
              <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
        </div>

          <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="cpassword" name="cpassword">
          </div>
          <button type="submit" class="btn btn-primary col-lg-12">Register</button>
      </form>

  </div>
</section>