.joinnow
{
    background-color: rgb(246, 82, 82);
    padding: 65px 200px;
}
.login
{
    background-color: #fff;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}
